@font-face{font-family:nunito sans;font-style:normal;font-weight:400;src:local("Nunito Sans Regular"),local("NunitoSans-Regular"),url(http://example.com/fonts/NunitoSans/NunitoSans-Regular.ttf)format("woff2");unicode-range:U+0102-0103,U+0110-0111,U+1EA0-1EF9,U+20AB}
@font-face{font-family:nunito sans;font-style:normal;font-weight:400;src:local("Nunito Sans Regular"),local("NunitoSans-Regular"),url(http://example.com/fonts/NunitoSans/NunitoSans-Regular.ttf)format("woff2");unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF}
@font-face{font-family:nunito sans;font-style:normal;font-weight:400;src:local("Nunito Sans Regular"),local("NunitoSans-Regular"),url(http://example.com/fonts/NunitoSans/NunitoSans-Regular.ttf)format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
.is-unselectable,.modal-close{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}


.title:not(:last-child),.subtitle:not(:last-child){margin-bottom:1.5rem}

.modal-close{-moz-appearance:none;-webkit-appearance:none;background-color:rgba(10,10,10,.2);border:none;border-radius:290486px;cursor:pointer;pointer-events:auto;display:inline-block;flex-grow:0;flex-shrink:0;font-size:0;height:20px;max-height:20px;max-width:20px;min-height:20px;min-width:20px;outline:none;position:relative;vertical-align:top;width:20px}
.modal-close::before,.modal-close::after{background-color:#fff;content:"";display:block;left:50%;position:absolute;top:50%;transform:translateX(-50%)translateY(-50%)rotate(45deg);transform-origin:center center}
.modal-close::before{height:2px;width:50%}
.modal-close::after{height:50%;width:2px}
.modal-close:hover,.modal-close:focus{background-color:rgba(10,10,10,.3)}
.modal-close:active{background-color:rgba(10,10,10,.4)}

.hero-video,.modal-background,.modal,.image.is-square img,.image.is-square .has-ratio,.image.is-1by1 img,.image.is-1by1 .has-ratio,.image.is-5by4 img,.image.is-5by4 .has-ratio,.image.is-4by3 img,.image.is-4by3 .has-ratio,.image.is-3by2 img,.image.is-3by2 .has-ratio,.image.is-5by3 img,.image.is-5by3 .has-ratio, .image.is-16by9 img,.image.is-16by9 .has-ratio,.image.is-2by1 img,.image.is-2by1 .has-ratio,.image.is-3by1 img,.image.is-3by1 .has-ratio,.image.is-4by5 img,.image.is-4by5 .has-ratio,.image.is-3by4 img,.image.is-3by4 .has-ratio,.image.is-2by3 img,.image.is-2by3 .has-ratio,.image.is-3by5 img,.image.is-3by5 .has-ratio,.image.is-9by16 img,.image.is-9by16 .has-ratio,.image.is-1by2 img,.image.is-1by2 .has-ratio,.image.is-1by3 img,.image.is-1by3 .has-ratio,.is-overlay{bottom:0;left:0;position:absolute;right:0;top:0}

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
ul{list-style:none}
button,input,select,textarea{margin:0}
html{box-sizing:border-box}
*,*::before,*::after{box-sizing:inherit}
img,video{height:auto;max-width:100%}
iframe{border:0}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
td:not([align]),th:not([align]){text-align:inherit}
html{background-color:#fff;font-size:16px;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;min-width:300px;overflow-x:hidden;overflow-y:scroll;text-rendering:optimizeLegibility;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;text-size-adjust:100%}
article,aside,figure,footer,header,hgroup,section{display:block}
body,button,input,select,textarea{font-family:Nunito Sans,sans-serif}
code,pre{-moz-osx-font-smoothing:auto;-webkit-font-smoothing:auto;font-family:monospace}
body{color:#4a4a4a;font-size:1em;font-weight:400;line-height:1.5}

a{color:#3273dc;cursor:pointer;text-decoration:none}
a strong{color:currentColor}
a:hover{color:#000}
code{background-color:#fff;color:#00b8d4;font-size:.875em;font-weight:400;padding:.25em .5em}
hr{background-color:#fff;border:none;display:block;height:2px;margin:1.5rem 0}
img{height:auto;max-width:100%}
input[type=checkbox],input[type=radio]{vertical-align:baseline}
small{font-size:.875em}
span{font-style:inherit;font-weight:inherit}
strong{color:#363636;font-weight:700}
fieldset{border:none}
pre{-webkit-overflow-scrolling:touch;background-color:#fff;color:#4a4a4a;font-size:.875em;overflow-x:auto;padding:1.25rem 1.5rem;white-space:pre;word-wrap:normal}
pre code{background-color:transparent;color:currentColor;font-size:1em;padding:0}


.has-text-centered{text-align:center!important}
.has-text-justified{text-align:justify!important}
.has-text-left{text-align:left!important}
.has-text-right{text-align:right!important}


.is-hidden{display:none!important}
.is-sr-only{border:none!important;clip:rect(0,0,0,0)!important;height:.01em!important;overflow:hidden!important;padding:0!important;position:absolute!important;white-space:nowrap!important;width:.01em!important}

.container{flex-grow:1;margin:0 auto;position:relative;width:auto}
.container.is-fluid{max-width:none;padding-left:32px;padding-right:32px;width:100%}

.title,.subtitle{word-break:break-word}
.title em,.title span,.subtitle em,.subtitle span{font-weight:inherit}
.title sub,.subtitle sub{font-size:.75em}
.title sup,.subtitle sup{font-size:.75em}
.title .tag,.subtitle .tag{vertical-align:middle}
.title{color:#363636;font-size:2rem;font-weight:300;line-height:1.125}
.title strong{color:inherit;font-weight:inherit}
.title+.highlight{margin-top:-.75rem}
.title:not(.is-spaced)+.subtitle{margin-top:-1.25rem}
.title.is-1{font-size:3rem}
.title.is-2{font-size:2.5rem}.title.is-3{font-size:2rem}
.title.is-4{font-size:1.5rem}.title.is-5{font-size:1.25rem}
.title.is-6{font-size:1rem}.title.is-7{font-size:.75rem}


.subtitle.is-3{font-size:2rem}


.hero{align-items:stretch;display:flex;flex-direction:column;justify-content:space-between}

/* necessary */
@media screen and (min-width:769px),print{.hero.is-large .hero-body{padding:18rem 1.5rem}}
.hero.is-halfheight .hero-body,.hero.is-fullheight .hero-body,.hero.is-fullheight-with-navbar .hero-body{align-items:center;display:flex}
.hero.is-halfheight .hero-body>.container,.hero.is-fullheight .hero-body>.container,.hero.is-fullheight-with-navbar .hero-body>.container{flex-grow:1;flex-shrink:1}
.hero.is-halfheight{min-height:50vh}.hero.is-fullheight{min-height:100vh}
.hero-video{overflow:hidden}
.hero-video video{left:50%;min-height:100%;min-width:100%;position:absolute;top:50%;transform:translate3d(-50%,-50%,0)}
.hero-video.is-transparent{opacity:.3}
@media screen and (max-width:768px){.hero-video{display:none}}
.hero-buttons{margin-top:1.5rem}@media screen and (max-width:768px){.hero-buttons .button{display:flex}.hero-buttons .button:not(:last-child){margin-bottom:.75rem}}
@media screen and (min-width:769px),print{.hero-buttons{display:flex;justify-content:center}
.hero-buttons .button:not(:last-child){margin-right:1.5rem}}
.hero-head,.hero-foot{flex-grow:0;flex-shrink:0}
.hero-body{flex-grow:1;flex-shrink:0;padding:3rem 1.5rem}

/* necessary */
html,body{background-color:#fff}
html{scroll-behavior:smooth}
html.modal-open{overflow:hidden}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}
@keyframes fadeIn{from{opacity:0}to{opacity:1}}
.fade-in{opacity:0;-webkit-animation:fadeIn ease-in 1;animation:fadeIn ease-in 1;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-duration:1s;animation-duration:1s}.fade-in.one{-webkit-animation-delay:.7s;animation-delay:.7s}
.fade-in.two{-webkit-animation-delay:1.4s;animation-delay:1.4s}
.fade-in.three{-webkit-animation-delay:1.8s;animation-delay:1.8s}
a{color:#00b8d4}
a:hover{color:#000;font-style:none}
a:active{color:#00b8d4}
h1,h2,.title,.subtitle{color:#222}
h1 a,h2 a,.title a,.subtitle a{color:#222}
.bold-title{font-size:6rem;line-height:1.2;margin-bottom:.25em}
.social-icons{padding:0 10px}
.social-icons a{margin:0 5px}
.icon{height:2rem;width:2rem;margin:0 10px}
.fab{font-size:1.3rem}
